.inside::before, .inside::after {
    content: '';
    display: table;
}

.inside::after {
    clear: both;
}

.iciav label {
    cursor: default;
}

.iciav .label-title {
    cursor: pointer;
}

.iciav.button-group {
    margin-left: 15px;
}

.iciav.label-title.label-title-tinymce.iciav-input-tinymce {
    display: none;
}

.iciav.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.iciav.popup-overlay.hidden {
    z-index: 0;
}

.iciav.popup-overlay.visible {
    -webkit-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    z-index: 10000;
}

.iciav.popup-preview-image, .iciav.popup-preview-video {
    position: relative;
    width: 50%;
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.75);
    -webkit-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
}

.iciav.popup-preview-image-title, .iciav.popup-preview-video-title {
    position: absolute;
    margin-left: 0;
    font-size: 20px;
}

.iciav.popup-preview-image .image, .iciav.popup-preview-video iframe {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    margin: 0;
    padding: 40px 0 0;
}

.iciav.popup-preview-image .close, .iciav.popup-preview-video .close {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.iciav.popup-preview-image .content, .iciav.popup-preview-video .content {
    max-height: 50%;
    overflow: auto;
}

.iciav.think-metaboxes, .iciav.think-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.iciav.think-metaboxes .input-label, .iciav.think-options .input-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.iciav.think-metaboxes .input-label:not(:first-child), .iciav.think-options .input-label:not(:first-child) {
    margin-left: 15px;
}

.iciav.think-metaboxes .label-radio,
.iciav.think-metaboxes .label-check, .iciav.think-options .label-radio,
.iciav.think-options .label-check {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.iciav.think-metaboxes .label-title, .iciav.think-options .label-title {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
}

.iciav.think-metaboxes .wp-picker-container, .iciav.think-options .wp-picker-container {
    position: relative;
    min-width: 300px;
    z-index: 1;
}

.iciav.think-metaboxes .wp-color-result, .iciav.think-options .wp-color-result {
    float: left;
}

.iciav.think-metaboxes .wp-picker-input-wrap, .iciav.think-options .wp-picker-input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.iciav.think-metaboxes .wp-picker-holder, .iciav.think-options .wp-picker-holder {
    position: absolute;
    top: 100%;
    left: 0;
}

.iciav.think-metaboxes {
    width: 100%;
}

.iciav.think-metaboxes.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -10px;
}

.iciav.think-metaboxes.row .col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: auto;
    padding: 0 10px;
}

.iciav.think-metaboxes .input-label {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.iciav.think-metaboxes .label-radio,
.iciav.think-metaboxes .label-check {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.iciav.think-metaboxes.input-area {
    margin: 10px 0;
}

.iciav.think-metaboxes .input-date,
.iciav.think-metaboxes .textarea {
    width: 100%;
}

.iciav.think-metaboxes .textarea {
    width: 100%;
}

@media screen and (max-width: 782px) {
    .iciav.popup-preview-image {
        width: 70%;
    }

    .iciav.think-options .input-label .label-title {
        display: none;
    }

    .iciav.think-options .label-radio .label-title,
    .iciav.think-options .label-check .label-title {
        display: block;
    }

    .iciav.think-options .wp-color-result {
        margin: 6px 10px 6px 0;
    }
}

.iciav.hidden {
    opacity: 0;
    visibility: hidden;
}

.iciav.visible {
    opacity: 1;
    visibility: visible;
}
